@use "sass:map";

@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.radio-input-box {
  border: 1px solid map.get($main-color, "light");
  border-radius: 9px;
  position: relative;
  padding: 1.2rem;

  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;

  .title {
    position: absolute;
    background-color: $white-color;
    padding: 0.5rem;
    color: map.get($main-color, "light");
    font-size: 1rem;
    font-weight: 500;

    top: 0;
    left: 1rem;
    transform: translateY(-50%);
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.5rem;
  }

  .input {
    display: none;

    &:checked + .label .radio {
      background-color: map.get($main-color, "light");
      transform: scale(0.8);

      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-65%, -65%) scale(3.2);
        opacity: 1;
      }
    }
  }
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  width: fit-content;
  text-wrap: nowrap;
}

.radio {
  @include element-size(1rem);
  border: 1px solid map.get($main-color, "light");
  border-radius: 50%;
  background-color: $white-color;
  position: relative;
  transition: all 0.2s ease-in;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include element-size(0.5rem);
    border-radius: 50%;
    border: 1px solid map.get($main-color, "light");
    opacity: 0;
    transition: all 0.3s ease-in;
  }
}
