.manufactures > div {
  row-gap: 4.7rem;

  justify-content: space-evenly !important;

  @media screen and (max-width: 794px) {
    row-gap: 3.5rem;
  }
}

.logo {
  height: 4.5rem;

  filter: saturate(0);

  &:hover {
    filter: saturate(1);
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      grid-column: span if($i > 3, 6, 4);
    }
  }

  @media screen and (max-width: 794px) {
    height: 3rem;
  }

  @media screen and (max-width: 525px) {
    &:last-child {
      grid: 1 / -1;
    }
  }
}
