@use "sass:math";
@use "sass:map";

@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/variables";

$animation-duration: 2s;
$total-elements: 4;
$stagger-delay: math.div($animation-duration, $total-elements);

.hero-section {
  @include container;
  & {
    margin: 6rem auto;
    max-width: 128rem;
  }
}

.info {
  grid-row: 1 / span 6;
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
}

.hero-section h1 {
  grid-column: 1 / span 4;
  width: min-content;
  grid-row: 1 / span 3;
  font-size: 7.2rem;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: $white-color;
}

.actions {
  grid-column: 1 / span 4;
  grid-row: 5 / 7;
  align-self: end;
  display: flex;
  gap: 3rem;
  margin-top: auto;
}

.images {
  grid-column: -1 / -6;
  grid-row: 1 / span 6;

  @include flex-center;
  flex-wrap: wrap;
  gap: 5rem;

  > img {
    width: 14rem;
    flex-shrink: 0;
    animation: device-animation 2s infinite ease-in-out;
  }

  @for $i from 1 through 4 {
    $delay: ($i - 1) * $stagger-delay;

    > img:nth-child(#{$i}) {
      animation-delay: $delay;
    }
  }

  > img[src*="laptop"] {
    width: 16.7rem;
  }

  @media screen and (max-width: 1146px) {
    gap: 3rem;

    > img {
      width: 11rem;
    }

    > img[src*="laptop"] {
      width: 13rem;
    }
  }
}

@media screen and (max-width: 1146px) {
  .actions {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 794px) {
  .images {
    margin-top: 6rem;
    grid-column: 1 / -1;
    grid-row: 6 / span 6;
    justify-content: center;
  }

  .actions {
    grid-column: 1 / -1;
    grid-row: 12 / span 1;
    justify-content: center;
  }

  .hero-section h1 {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .actions {
    flex-direction: column;
  }
}

@keyframes device-animation {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.05);
  }
}
