@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.steps {
  background-image: $gradient-bg-color;

  > h2 {
    color: $white-color;
  }

  @for $i from 0 through 2 {
    :nth-child(#{$i + 1}) {
      grid-column: (2 + 4 * $i) / span 3;
    }
  }

  @media screen and (max-width: 702px) {
    @for $i from 0 through 2 {
      :nth-child(#{$i + 1}) {
        grid-column: (4 * $i + 1) / span 3;
      }
    }
  }

  .step {
    color: $white-color;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;

    .step-number {
      border: 5px solid $white-color;
      @include element-size(10rem);
      @include flex-center;
      font-size: 4.8rem;
      border-radius: 19px;
    }
    .step-description {
      text-align: left;
      font-size: 1.8rem;
    }
    .step-icon-container {
      @include element-size(11.75rem);
      background-color: rgba(255, 255, 255, 50%);
      border-radius: 50%;
      align-self: flex-end;
      margin-top: auto;

      @include flex-center;

      > img {
        width: 70%;
      }
    }

    @media screen and (max-width: 648px) {
      grid-column: 1 / -1;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;

      .step-description {
        width: 40%;
      }

      .step-icon-container {
        @include element-size(9.45rem);
        align-self: start;
        margin-top: 0;
      }
    }

    @media screen and (max-width: 455px) {
      justify-content: center;
      .step-icon-container {
        @include element-size(7.25rem);
      }
    }
  }
}
