@use "sass:map";

@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;

  &--column {
    flex-flow: column nowrap;
  }

  &--visible {
    display: flex !important;
  }
}

@media screen and (max-width: 1090px) {
  .nav-list {
    display: none;
  }
}
