@use "sass:map";

@import "@/styles/abstracts/variables";

.main {
  grid-area: 2 / 2 / -1 / -1;
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;
  overflow-y: auto;

  @media screen and (max-width: 794px) {
    grid-column-start: 1;
  }

  @media screen and (max-width: 524px) {
    grid-row-start: 3;
  }
}

.device-form {
  padding-top: 2rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;

  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 40rem;

  gap: 3rem;
}

.fieldset {
  flex-shrink: 1;
  width: 13rem;
  display: flex;

  align-items: center;
  border: none;

  label {
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    border-radius: 9px;
    transition: all ease-out 0.1s;

    &:hover {
      outline: 5px solid rgba(map.get($main-color, "middledark"), 0.302);
      outline-offset: 2px;
      color: map.get($main-color, "middledark");

      img {
        filter: brightness(0.8);
        transform: scale(1.1);
      }
    }

    &:active {
      outline: 2px solid rgba(map.get($main-color, "middledark"), 0.1);
      outline-offset: 5px;
      img {
        filter: brightness(1.5);
      }
    }
  }

  input {
    display: none;
  }

  span {
    font-size: 1.4rem;
  }

  img {
    width: 100%;
    margin-bottom: 0.5rem;
    transition: all ease-out 0.5s;
  }
}
