.btn {
  display: block;
  padding: 1rem 4.5rem;
  border-radius: 2.4rem;
  text-decoration: none;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;

  color: #fff;
  box-shadow: inset 0px 0px 0px 1px #fff;

  &:hover {
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: none;
  }
}

.btn[type="submit"] {
  background-color: #1a59f8;
  box-shadow: none;

  background-color: rgb(255, 255, 255, 0.8);
  color: #1a59f8;
  box-shadow: none;

  &:hover {
    background-color: rgb(255, 255, 255, 1);
  }
}
