@use "sass:map";

@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.btn {
  @include smarter-button;
}

.btn {
  @include smarter-button-hover-active;
}

.btn[type="submit"] {
  background-color: rgba(map.get($main-color, "light"), 0.549);
  color: $white-color;
  box-shadow: none;
}

.btn[type="submit"]:hover {
  background-color: rgba(map.get($main-color, "middledark"), 0.549);
}

.btn[type="submit"]:active {
  outline-color: rgba(map.get($main-color, "middledark"), 0.549);
}
