@use "sass:map";

@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.dialog {
  position: fixed;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  border: none;
  border-radius: 2.9rem;
  overflow: visible;

  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    @include element-size(100%);
    background-color: rgba(map.get($main-color, "light"), 0.549);
    backdrop-filter: blur(5px);
  }
}

.dialog-form {
  position: absolute;
  top: 1rem;
  right: 0rem;
}

.button {
  position: relative;
  transform: translate(100%, -100%);
  @include element-size(3.7rem);
  border-radius: 50%;

  border: none;
  background-color: $white-color;
  cursor: pointer;

  transition: all ease-in-out 0.1s;
}

.button:hover {
  &::before,
  &::after {
    border-color: map.get($main-color, "light");
  }
}

.button:active {
  outline: 0.5rem solid rgba(255, 255, 255, 0.5);
  outline-offset: 0.2rem;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;

  width: 60%;
  border: 1px solid $gray-color;
}

.button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 525px) {
  .dialog {
    width: 100vw;
    height: 100vh;
    border-radius: 0;

    &::backdrop {
      background-color: $white-color;
    }
  }

  .dialog-form {
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
}

body:has(.dialog) {
  overflow: hidden;
}
