.btn:link,
.btn:visited {
  display: block;
  padding: 1rem 4.5rem;
  border-radius: 2.4rem;
  text-decoration: none;
  font-size: 1.6rem;

  color: #fff;
  box-shadow: inset 0px 0px 0px 1px #fff;
}

.btn:hover {
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: none;
}

.main-btn:link,
.main-btn:visited {
  background-color: rgb(255, 255, 255, 0.8);
  color: #1a59f8;
  box-shadow: none;
}

.main-btn:hover {
  background-color: rgb(255, 255, 255, 1);
}
