@use "sass:map";

@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

.btn:link,
.btn:visited {
  @include link;
  font-size: 1.6rem;

  color: $white-color;
  box-shadow: inset 0px 0px 0px 1px $white-color;
}

.btn:hover {
  background-color: rgb($white-color, 0.6);
  box-shadow: none;
}

.main-btn:link,
.main-btn:visited {
  background-color: rgb($white-color, 0.9);
  color: map.get($main-color, "middledark");
  box-shadow: none;
  transition: all 0.3s ease-in;
}

.main-btn:hover {
  background-color: #fff;
}
