.header {
  text-align: start;
  > h3 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 6rem;
    letter-spacing: -0.04rem;
  }
}

.action-box {
  display: flex;
  gap: 3rem;
}
