@use "sass:math";

@import "@/styles/abstracts/variables";

header.header {
  background-image: $gradient-bg-color;
  width: 100vw;
  max-height: max-content;
  min-height: 100vh;

  @media screen and (max-width: 794px) {
    padding-bottom: 6rem;
  }
}
