@use "sass:map";

@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";

nav.navigation {
  display: flex;
  width: 100%;
  padding: 2.3rem 7rem 0;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  font-family: sans-serif;
}

a.image-container > img {
  height: 5.3rem;
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: transparent;
  @include element-size(5rem);
  border-radius: 50%;

  transform-origin: center;

  transition: background-color 0.3s ease-in;

  cursor: pointer;

  > svg.icon {
    stroke: $white-color;
  }

  &:hover {
    background-color: rgba($white-color, 45%);
  }

  &:active {
    background-color: rgba($white-color, 90%);

    > svg.icon {
      stroke: map.get($main-color, "middledark");
    }
  }
}

@media screen and (max-width: 1090px) {
  .menu-btn {
    @include flex-center;
  }

  nav.navigation > a.btn:link {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  nav.navigation {
    padding-inline: 2rem;
  }
}
