@use "sass:map";

@import "@/styles/abstracts/variables";

.form-section {
  > p {
    color: $white-color;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3.7rem;
  }

  > form {
    display: flex;
    flex-direction: column;

    gap: 6rem;
  }

  .inputs-container {
    display: flex;
    flex-direction: column;

    gap: 3.8rem;
  }

  .action-box {
    display: flex;
    gap: 3rem;
    justify-content: center;
  }
}

.btn {
  background-color: transparent;
  color: $white-color;
  padding: 1rem 4.5rem;
  border-radius: 2.4rem;

  color: $white-color;
  box-shadow: inset 0px 0px 0px 1px $white-color;
}

.btn:hover {
  background-color: rgb($white-color, 0.6);
  box-shadow: none;
}

.btn[type="submit"] {
  background-color: rgb($white-color, 0.8);
  color: map.get($main-color, "middledark");
  box-shadow: none;
}

.btn[type="submit"]:hover {
  background-color: $white-color;
}
