.input-box {
  position: relative;
  font-size: 1.6rem;

  label {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    transform-origin: left;
    transition: all 0.3s ease-in;
  }

  input {
    border-radius: 9px;
    height: 3.2rem;
    display: block;
    padding: 0.5rem 0 0.5rem 1rem;
    width: 100%;
    font-size: inherit;
    font-family: inherit;

    border: 3px solid #fff;
  }

  input:focus,
  input:not(:placeholder-shown) {
    outline: none;

    + label {
      top: -0.5rem;
      transform: translateY(-50%) scale(0.8);
      background-color: #fff;
      display: block;
      padding: 0.3rem 1rem;
      border-radius: 9px 9px 0 0;
    }
  }
}
