@import "@/styles/abstracts/mixins";

.section {
  padding-bottom: 6.5rem;
  > h2 {
    font-size: 3.6rem;
    font-weight: 600;
    padding: 6.5rem 0 7.2rem;
  }

  .container {
    @include container;
  }

  .container.flex {
    @include flex-container;
  }

  @media screen and (max-width: 702px) {
    .container {
      row-gap: 2rem;
    }
  }

  @media screen and (max-width: 455px) {
    .container {
      row-gap: 4rem;
    }
  }
}

.highlighted {
  font-weight: 600;
}
