@use "sass:map";

@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/variables";

$password-color: #ffaa00;
$history-color: #0faf03;
$delete-color: #ff1100;

$form-edit-color: #008000;
$form-cancel-color: #ff0000;
$form-clear-color: #5bc4ed;

$form-edit-bg-color: #dcffdc;
$form-cancel-bg-color: #ffdcdc;
$form-clear-bg-color: #c9eefc;

.aside {
  grid-area: 1 / 1 / -1 / 2;
  background-image: $gradient-bg-color;

  padding: 2rem 1rem;

  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;

  overflow-y: auto;

  scrollbar-width: thin;

  z-index: 1000;

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.avatar {
  display: inline-flex;
  @include element-size(8rem);
  border-radius: 50%;
  background-color: $white-color;

  font-size: 4rem;
  justify-content: center;
  align-items: center;
  color: map.get($main-color, "dark");
}

.info-box,
.actions-box,
.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  color: $white-color;
  border: 3px solid $white-color;
  border-radius: 9px;
  padding: 1.6rem 1rem;

  background-color: rgba($white-color, 0.369);

  & > h4 {
    text-transform: uppercase;
  }
}

.info-box {
  p {
    background-color: rgba($white-color, 0.4);
    border: 1px solid $white-color;
    border-radius: 9px;

    padding: 0.5rem;
  }
}

.actions-box {
  button,
  a:link {
    font-size: 1.2rem !important;
    width: 100%;
    font-weight: 500;

    &:hover {
      box-shadow: none;
      color: $white-color;
    }

    &:active {
      outline-width: 5px;
      outline-style: solid;
      background-color: $white-color;
    }
  }

  p {
    text-align: center;
  }
}

button.edit-btn,
a:link.edit-btn,
a:visited.edit-btn {
  @include action-btn(
    map.get($main-color, "middledark"),
    rgba(map.get($main-color, "middledark"), 0.33),
    $white-color
  );
}

button.change-pswd-btn,
a:link.change-pswd-btn,
a:visited.change-pswd-btn {
  @include action-btn($password-color, rgba($password-color, 0.329), #fef1d6);
}

button.history-btn,
a:link.history-btn,
a:visited.history-btn {
  @include action-btn($history-color, rgba($history-color, 0.329), #e1fedf);
}

button.delete-btn,
a:link.delete-btn,
a:visited.delete-btn {
  @include action-btn($delete-color, rgba($delete-color, 0.329), #ffd6d3);
}

.form {
  input {
    background-color: rgba($white-color, 0.4);
    border: 1px solid $white-color;
    border-radius: 9px;
    color: inherit;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    outline: none;

    padding: 0.5rem;

    &::placeholder {
      color: inherit;
    }

    &:focus {
      outline: 2px solid rgba($white-color, 0.518);
    }
  }
}

.form-actions {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  z-index: 21;
  gap: 1rem;
  top: 12rem;
  left: 27rem;

  background-color: rgba($white-color, 0.3);
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 9px;
  box-shadow: inset 0px 0px 5px 1px rgba(map.get($main-color, "light"), 0.412);

  button {
    @include flex-center;
    gap: 1rem;
    border-radius: 6px;
    background-color: rgba($white-color, 0.75);

    padding: 0.4rem 0.6rem;

    cursor: pointer;

    &:hover {
      border-color: transparent;
    }

    &:active {
      outline-width: 2px;
      outline-style: solid;
      outline-offset: 2px;
      background-color: $white-color;
    }
  }
}

.form-edit-btn {
  @include action-btn(
    $form-edit-color,
    rgba($form-edit-color, 0.5),
    $form-edit-bg-color
  );
}

.form-cancel-btn {
  @include action-btn(
    $form-cancel-color,
    rgba($form-cancel-color, 0.5),
    $form-cancel-bg-color
  );
}

.form-clear-btn {
  @include action-btn(
    $form-clear-color,
    rgba($form-clear-color, 0.5),
    $form-clear-bg-color
  );
}

.aside-backdrop {
  display: none;
}

@media screen and (max-width: 794px) {
  .aside {
    display: none;
  }

  .aside.active {
    display: flex;
    position: fixed;

    max-width: 80%;

    height: 100vh;
    z-index: 120;

    + .aside-backdrop {
      @include backdrop-element;
    }

    .form-actions {
      position: static;
      transform: translate(0, 0);
      flex-flow: column nowrap;
      justify-content: center;
      max-width: 24rem;

      background-color: rgba($white-color, 0.3);
      backdrop-filter: none;
      padding: 1rem;
      border-radius: 9px;
      border: 1px solid $white-color;
      box-shadow: none;
    }
  }
}
